.table-container {
}

.abm-tipo-mueble-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header-tipo-mueble {
    display: flex;
    justify-content: space-between;
}

.mat-column-acciones {
    width: 10%;
}

